body
{
    background-size: cover;
}

.heading
{
    font-size: 23px;
    width: 90%;
    margin-top: 0;
    box-shadow: 15px 15px 15px white;
}

#start, #number_of_objects, #status
{
    font-size: 18px;
}

.copy_right_footer
{
    position: fixed;
    background-color: #6c757d;
    bottom: 0;
    width: 100%;
    color: #f5f5f5;
    line-height: 3;
    text-align: center;
}

canvas 
{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px white;
}